html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
canvas {
  background-color: #085f63;
  width: 100%;
  height: 100%;
}
.add-ball-btn {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 5em;
  height: 2em;
  font-size: 1.5rem;
  text-align: center;
  border: 0.05em solid #facf5a;
  color: #facf5a;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add-ball-btn:hover {
  background-color: #ff5959;
  color: #085f63;
  transform: scale(1.1);
}
